<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .app-container {
            display: flex;
            flex-direction: column;
            height: 100vh;
        }
        .flex-grow {
            flex-grow: 1;
        }
        .sidebar {
            width: 20rem;
            flex-shrink: 0;
        }
    </style>
</head>

<body>
    <div id="app" tabindex="-1" class="flex h-screen w-screen bg-white">
        <div v-if="varsOfSchemes && varsOfSchemes.length" class="fixed top-0 left-0 z-50 bg-white py-2 px-4">
            <span>Рабочая схема:</span>
            <select v-model="selectedScheme">
                <template v-for="item in varsOfSchemes">
                    <option :value="item.value" selected="selectedChain.name == item.name">{{ item.name }}</option-->
                </template>
            </select>
        </div>
        <div class="app-container">
            <div class="flex h-screen w-screen bg-white">
                <div class="flex-grow bg-white py-16 px-4 overflow-scroll">
                    <div v-if="selectedScheme" class="flex-grow bg-white py-16 px-4">
                        <shuffle-chain :schema="selectedScheme" @on-select-item="onSelectItem" />
                    </div>
                </div>
                <div v-if="selectedItem" class="sidebar bg-gray-100">
                    <node-panel :schema="selectedScheme" :selected-item="selectedItem" />
                </div>
                <div v-else class="p-4">
                    {{ message }}
                </div>
            </div>
        </div>      
    </div>

    <script src="./schemas.js"></script>  
    <script src="components/ui/collapse-extend-text.js"></script>
    <script src="components/ui/node-moving-subpanel.js"></script>
    <script src="components/ui/node-panel.js"></script>
    <script src="components/shuffle-filter.js"></script>
    <script src="components/shuffle-column.js"></script>
    <script src="components/shuffle-row.js"></script>
    <script src="components/shuffle-chain.js"></script>
    <script src="libs/schemeSearch.js"></script>
    <script src="libs/schemeRunner.js"></script>
    <script src="app.js"></script>
    <script src="tailwind.config.js"></script>
</body>

</html>