<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .app-container {
            display: flex;
            flex-direction: column;
            height: 100vh;
        }
        .flex-grow {
            flex-grow: 1;
        }
        .sidebar {
            width: 20rem;
            flex-shrink: 0;
        }
    </style>
</head>

<body>
    <div id="app" @focus="onFocus" tabindex="-1" class="flex h-screen w-screen space-x-2 bg-white">

        <!-- White board -->
        <div class="flex flex-grow bg-white py-16 px-4 items-center space-x-2 overflow-scroll">

            <!-- Params -->
            <div class="flex flex-col space-y-2 border p-4">

                <!-- Incoming -->
                <div class="flex flex-col w-80 h-fit p-2 space-y-2 border border-blue-100 justify-center items-strech">
                    <div class="flex justify-start">Incoming params:</div>
                    <div v-for="(value, key) in incoming" :key="key" class="flex bg-gray-100 p-2 justify-start text-sm">
                        {{key}}: {{value}}
                    </div>
                </div>

            </div>

            <div class="flex-none text-gray-400">
                ->
            </div>
            
            <div class="flex flex-col space-y-4 border p-4">

                <!-- Scheme -->
                <div class="flex flex-col w-fit h-fit p-2 space-y-2 border justify-center items-strech">
                    <div class="flex justify-start">Scheme:</div>

                    <shuffle-row id="Main" >
                        <shuffle-column id="D">
                            <shuffle-row id="A">
                                <shuffle-filter-intersection id="A1"></shuffle-filter-intersection>
                                <shuffle-filter-intersection id="A2"></shuffle-filter-intersection>
                            </shuffle-row>
                            <shuffle-column id="B">
                                <shuffle-filter id="B1"></shuffle-filter>
                                <shuffle-filter id="B2"></shuffle-filter>
                            </shuffle-column>
                        </shuffle-column>
                        <shuffle-filter id="C1"></shuffle-filter>
                        <shuffle-column id="Z">
                            <shuffle-filter id="Z1"></shuffle-filter>
                            <shuffle-filter id="Z2"></shuffle-filter>
                        </shuffle-column>
                    </shuffle-row>

                </div>

                <!-- Local -->
                <div class="flex flex-col w-80 h-fit p-2 space-y-2 border justify-center items-strech">
                    <div class="flex justify-start">Local params:</div>
                    <div v-for="(value, key) in local" :key="key" class="flex bg-gray-100 p-2 justify-start text-sm">
                        {{key}}: {{value}}
                    </div>
                </div>

            </div>

            <div class="flex-none text-gray-400">
                ->
            </div>

            <!-- Result -->
            <div class="flex p-4 border">
                <span class="text-gray-600">1/0</span>
            </div>

        </div>

        <!-- Side Menu -->
        <div class="flex-none w-64 bg-gray-100">
            <div v-if="selectedItem" class="flex flex-col border-1 border">
                
                <!-- Properties -->
                <div>
                    <div class="flex bg-gray-200 p-2 rounded-b-lg">
                        <h2 class="text-bold">Properties</h2>
                    </div>
                    <div class="flex flex-col p-2">
                        <div>
                            id: {{ selectedItem.id }}
                        </div>
                        <div v-if="selectedItem.type=='filter-intersection'">
                            type: <span class="bg-stone-300 rounded p-1">{{ selectedItem.type }}</span>
                        </div>
                        <div v-else>
                            type: {{ selectedItem.type }}
                        </div>
                        <div v-if="selectedItem.result!=null" class="text-gray-400">
                            mock-result: {{selectedItem.result}}
                        </div>
                    </div>
                </div>

                <!-- Childs -->
                <div v-if="selectedItem.childs">
                    <div class="flex bg-gray-200 p-2 rounded-b-lg">
                        <h2 class="text-bold">
                            <span class="capitalize">{{selectedItem.type}}</span> childs
                        </h2>
                    </div>
                    <div class="flex flex-col p-2">
                        <div v-for="child in selectedItem.childs" :key="child.id">
                            {{ child.id }}: {{child.type}} <span class="text-gray-400"> -> {{getSchemeResult(child)}}</span>
                        </div>
                    </div>
                </div>

                <!-- Params -->
                <div v-for="param in selectedItem.params" :key="param.name">
                    <div class="flex bg-gray-200 p-2 rounded-b-lg">
                        <h2 class="text-bold">
                            Param {{param.name}}
                        </h2>
                    </div>
                    <div class="flex flex-col p-2">
                        <div>
                            name: {{ param.name }}
                        </div>
                        <div>
                            type: {{ param.type }}
                        </div>
                        <div>
                            source: {{param.source}}
                        </div>
                        <div v-if="param.key">
                            key: {{param.key}}
                        </div>
                        <div v-if="param.source=='inline'">
                            inline-value: {{param.value}}
                        </div>
                        <div v-if="param.source=='local'" class="text-gray-400">
                            local-value: {{local[param.key]}}
                        </div>
                        <div v-if="param.source=='incoming'" class="text-gray-400">
                            incoming-value: {{incoming[param.key]}}
                        </div>
                    </div>
                </div>

                <!-- Result -->
                <div>
                    <div class="flex bg-gray-200 p-2 rounded-b-lg">
                        <h2 class="text-bold">
                            Result
                        </h2>
                    </div>
                    <div class="flex flex-col p-2">
                        <div>
                            getSchemeResult: {{getSchemeResult(selectedItem)}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Nothing selected message -->
            <div v-else class="p-4">
                {{message}}
            </div>
        </div>
        
    </div>

    <script src="./schemas.js"></script>  
    <script src="components/ui/collapse-extend-text.js"></script>
    <script src="components/ui/node-moving-subpanel.js"></script>
    <script src="components/ui/node-panel.js"></script>
    <script src="components/shuffle-filter.js"></script>
    <script src="components/shuffle-filter-intersection.js"></script>
    <script src="components/shuffle-column.js"></script>
    <script src="components/shuffle-row.js"></script>
    <script src="components/shuffle-chain.js"></script>
    <script src="libs/schemeSearch.js"></script>
    <script src="libs/schemeRunner.js"></script>
    <script src="app.js"></script>
    <script src="tailwind.config.js"></script>
</body>

</html>