<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .app-container {
            display: flex;
            flex-direction: column;
            height: 100vh;
        }
        .flex-grow {
            flex-grow: 1;
        }
        .sidebar {
            width: 20rem;
            flex-shrink: 0;
        }
        @keyframes blink-animation {
            0%, 100% {
                outline-width: 2px;
                outline-style: solid;
                outline-color:red;
                opacity: 1;
            }
            50% {
                opacity: 0;
                outline-width: 2px;
                outline-style: solid;
                outline-color: #4f46e5;
            }
        }

        .blink-animation {
            animation: blink-animation 0.3s 2;
        }
    </style>
</head>

<body>
    <div id="app" tabindex="-1" class="flex h-screen w-screen bg-black">
        <!-- Top panel -->
        <div v-if="varsOfSchemes && varsOfSchemes.length" class="fixed top-0 left-0 z-50 bg-white py-2 px-4">
            <span>Рабочая схема:</span>
            <select v-model="selectedScheme">
                <template v-for="item in varsOfSchemes">
                    <option :value="item.value" selected="selectedChain.name == item.name">{{ item.name }}</option>
                </template>
            </select>
        </div>

        <!-- White board -->
        <div class="flex flex-grow bg-white py-16 px-2 space-x-2 overflow-scroll">
            <!-- Params -->
            <div class="flex flex-col space-y-2 border p-4">
                <!-- Incoming -->
                <div class="flex flex-col w-80 h-fit p-2 space-y-2 border border-blue-100 justify-center items-strech">
                    <div class="flex justify-start">Incoming params:</div>
                    <div v-for="(value, key) in incoming" :key="key" class="flex bg-gray-100 p-2 justify-start text-sm">
                        {{key}}: {{value}}
                    </div>
                </div>
                <!-- Local -->
                <div class="flex flex-col w-80 h-fit p-2 space-y-2 border justify-center items-strech">
                    <div class="flex justify-start">Local params:</div>
                    <div v-for="(value, key) in local" :key="key" class="flex bg-gray-100 p-2 justify-start text-sm">
                        {{key}}: {{value}}
                    </div>
                </div>
            </div>

            <div class="flex-none text-gray-400">
                ->
            </div>
        
            <!-- Scheme -->
            <div class="flex flex-col w-fit h-fit p-2 space-y-2 border justify-center items-strech">
                <div class="flex justify-start">Scheme</div>
                <shuffle-scheme :local="local" :incoming="incoming">
                    <shuffle-params-group>
                        <shuffle-param name="Alpha" type="set" source="inline" :value="['cafe', 'kids', 'beach']" />
                        <shuffle-param name="Beta" type="set" source="local" :value="local['ballooning-fest']" />
                        <shuffle-param name="Gamma" type="set" source="incoming" :value="incoming['place']" />
                    </shuffle-params-group>
                    <shuffle-chain :schema="selectedScheme" @on-select-item="onSelectItem" />
                </shuffle-scheme>
            </div>

            <div class="flex-none text-gray-400">
                ->
            </div>

            <!-- Result -->
            <div class="flex items-center justify-center w-16 h-16 border">
                <span class="text-gray-600">{{getSchemeResult()}}</span>
            </div>  
             
        </div>

        <!-- Side Menu -->
        <div class="flex-grow w-20 bg-gray-100">
            <div v-if="selectedItem" class="flex flex-col border-1 border">
                <node-panel :local="local" :incoming="incoming" :schema="selectedScheme" :selected-item="selectedItem" />
            </div>
        </div>
    </div>

    <script src="./schemas.js"></script>  
    <script src="components/ui/collapse-extend-text.js"></script>
    <script src="components/ui/node-moving-subpanel.js"></script>
    <script src="components/ui/node-panel.js"></script>
    <script src="components/shuffle-param.js"></script>
    <script src="components/shuffle-params-group.js"></script>
    <script src="components/shuffle-scheme.js"></script>
    <script src="components/shuffle-filter.js"></script>
    <script src="components/shuffle-column.js"></script>
    <script src="components/shuffle-row.js"></script>
    <script src="components/shuffle-filter-intersection.js"></script>
    <script src="components/shuffle-chain.js"></script>
    <script src="libs/schemeSearch.js"></script>
    <script src="libs/schemeRunner.js"></script>
    <script src="app.js"></script>
    <script src="tailwind.config.js"></script>
</body>

</html>